<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred_pld</string>
	<key>connections</key>
	<dict>
		<key>0BEA3B9D-0905-4663-92A4-3F1D16116CC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DDE127-D320-4289-970F-38F5DF1A1688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>22725E5A-86F1-450F-9FB8-B9069BCAFBA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DDE127-D320-4289-970F-38F5DF1A1688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>51F77402-24C5-4B32-BE21-0A4D27079505</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A91F2DD7-2E80-45FB-B309-0560E0013C45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5EE146EE-7E37-4028-A4EB-EDAB73022C3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DDE127-D320-4289-970F-38F5DF1A1688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6BEC5465-E3DB-4271-A965-CAD394F34106</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51F77402-24C5-4B32-BE21-0A4D27079505</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>88D1DF6B-65C9-400D-9B7A-70F93EF25DAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DDE127-D320-4289-970F-38F5DF1A1688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C030956B-C5F7-4ACD-8B2B-C29AAEF89689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DDE127-D320-4289-970F-38F5DF1A1688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C8DDE127-D320-4289-970F-38F5DF1A1688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>210532F8-5BE3-474F-AE44-516B73BB942B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D4EF2920-7B40-42D9-B8C5-46AC8E46EBE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DDE127-D320-4289-970F-38F5DF1A1688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF711E32-2ACD-44D0-8EA0-A879BF910B91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DDE127-D320-4289-970F-38F5DF1A1688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Wouter de Vos</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pipeline</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>pip</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pip.rb filter {query}</string>
				<key>subtext</key>
				<string>Pipeline Deals</string>
				<key>title</key>
				<string>Pip</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0BEA3B9D-0905-4663-92A4-3F1D16116CC0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>pip company task</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pip.rb filter ct {query}</string>
				<key>subtext</key>
				<string>Create a company task in Pipeline</string>
				<key>title</key>
				<string>Pipeline Company Task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C030956B-C5F7-4ACD-8B2B-C29AAEF89689</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>pip deal task</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pip.rb filter dt {query}</string>
				<key>subtext</key>
				<string>Create a Task on a Deal</string>
				<key>title</key>
				<string>Pipeline Deal Task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22725E5A-86F1-450F-9FB8-B9069BCAFBA6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pip Status</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>210532F8-5BE3-474F-AE44-516B73BB942B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>pip person task</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pip.rb filter pt {query}</string>
				<key>subtext</key>
				<string>Create a Note/Activity on a Person</string>
				<key>title</key>
				<string>Pipeline Personal Task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>88D1DF6B-65C9-400D-9B7A-70F93EF25DAE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./pip.rb action {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8DDE127-D320-4289-970F-38F5DF1A1688</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>pip company note</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pip.rb filter cn {query}</string>
				<key>subtext</key>
				<string>Create a Note/Activity on a Company</string>
				<key>title</key>
				<string>Pipeline Company Note/Activity</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4EF2920-7B40-42D9-B8C5-46AC8E46EBE1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>pip personal note</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pip.rb filter pn {query}</string>
				<key>subtext</key>
				<string>Create a Note/Activity on a Person</string>
				<key>title</key>
				<string>Pipeline Personal Note/Activity</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5EE146EE-7E37-4028-A4EB-EDAB73022C3A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>pip deal note</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pip.rb filter dn {query}</string>
				<key>subtext</key>
				<string>Create a Note/Activity on a Deal</string>
				<key>title</key>
				<string>Pipeline Deal Note/Activity</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FF711E32-2ACD-44D0-8EA0-A879BF910B91</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>You can now start using Pip.</string>
				<key>title</key>
				<string>Pip is now configured!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A91F2DD7-2E80-45FB-B309-0560E0013C45</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pipconfig</string>
				<key>subtext</key>
				<string>Find your API key in your account and use it to configure Pip.</string>
				<key>text</key>
				<string>Set your PipelineDeals API key.</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6BEC5465-E3DB-4271-A965-CAD394F34106</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>echo 'api_key: {query}' &gt; ~/.pipconfig.yml</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51F77402-24C5-4B32-BE21-0A4D27079505</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0BEA3B9D-0905-4663-92A4-3F1D16116CC0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>210532F8-5BE3-474F-AE44-516B73BB942B</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>22725E5A-86F1-450F-9FB8-B9069BCAFBA6</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>51F77402-24C5-4B32-BE21-0A4D27079505</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>5EE146EE-7E37-4028-A4EB-EDAB73022C3A</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>6BEC5465-E3DB-4271-A965-CAD394F34106</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>88D1DF6B-65C9-400D-9B7A-70F93EF25DAE</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>A91F2DD7-2E80-45FB-B309-0560E0013C45</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>C030956B-C5F7-4ACD-8B2B-C29AAEF89689</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C8DDE127-D320-4289-970F-38F5DF1A1688</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>D4EF2920-7B40-42D9-B8C5-46AC8E46EBE1</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>FF711E32-2ACD-44D0-8EA0-A879BF910B91</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.springest.com</string>
</dict>
</plist>
